<div>
  <section class="add-filter-container border">
    <div class="add-client-container d-flex justify-content-between">
      <span><strong>Clients</strong></span
      ><span class="bi bi-plus-circle"></span>
    </div>
    <input type="text" placeholder="Search" />
  </section>
  <section class="list-container border">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between"
        *ngFor="let data of companyData">
        <div class="w-100 d-flex justify-content-between">
          <div class="d-flex justify-content-between w-100" routerLink='edit/1'> <!--here routerlink is just for understanding-->
            <span>1D</span>
            <span class="pe-5">{{ data.companyName }}</span>
          </div>
          <div class="ps-5">
            <span class="bi bi-x-circle"></span>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
