<div class="list-container p-3 h-100 bg-secondary">
  <section class="add-filter-container">
    <div class="add-client-container d-flex justify-content-between align-item-center">
      <span>
        <h3>Clients</h3>
      </span>
      <div>
        <button class="logo-icon-add bi bi-plus-circle border-0 bg-transparent me-4" (click)="onAdd()"></button>
      </div>
    </div>
    <input class="search-bar w-100" type="text" placeholder="Search here..." [(ngModel)]="searchTerm" />
  </section>
  <section class="list-container mt-4">
    <ul class="list-group" *ngIf="listCompanyData | searchCompany:searchTerm as filteredData">
      <li class="list-group-item" *ngFor="let companies of filteredData">
        <div class="w-100 d-flex justify-content-between">
          <div class="d-flex w-100" (click)="onEdit(companies.id)">
            <!--here routerlink is just for understanding-->
            <span>{{ companies.companyName | nameLogo}}</span>
            <span class="text-nowrap ms-5">{{ companies.companyName | titlecase}}</span>
            <!-- <span *ngFor="let tag of companies?.companyTags">
              <span> {{tag.name}}</span>
            </span> -->
          </div> 
          <div class="d-flex">
          <button class=" logo-icon bi bi-x-circle border-0 bg-transparent text-nowrap"
          (click)="onDelete(companies.id)"></button>
        </div>
        </div>
      </li>
      <div *ngIf="filteredData.length === 0" class="text-danger text-center">No Record Found</div>
    </ul>
  </section>
</div>